/*	Typography
	=========================== */
$primaryFont: 'Josefin Slab', serif;
$secondaryFont: 'Oswald', sans-serif;
$codeFont : Consolas, "Liberation Mono", Menlo, Courier, monospace;

/*	Colors
	=========================== */
$white: #ffffff;
$black: #000000;

$grey--darkest: #888888;
$grey--darker: #999999;
$grey--dark: #aaaaaa;
$grey: #bbbbbb;
$grey--light: #cccccc;
$grey--lighter: #dddddd;
$grey--lightest: #eeeeee;

$red: #FF3333;