<nav class="navbar clearfix">
	<a class="navbar__brand" href="#/">Marijke Aerts</a>
	<div class="navbar-toggle" ng-class="{ 'navbar-toggle--close': navOpen }" ng-click="navOpen = !navOpen">
		<span class="navbar-toggle__cta">Menu</span>
		<span class="navbar-toggle__lines"></span>
	</div>
	<div class="navbar__links">
		<a class="navbar__link" ng-class="{ 'active': isActiveNav('/home') }" ng-click="closeNav()" href="#/home">Home</a>
		<a class="navbar__link" ng-class="{ 'active': isActiveNav('/via-de-voeten') }" ng-click="closeNav()" href="#/via-de-voeten">Via de voeten</a>
		<a class="navbar__link" ng-class="{ 'active': isActiveNav('/natuurlijke-voeding') }" ng-click="closeNav()" href="#/natuurlijke-voeding">Natuurlijke voeding</a>
	</div>
</nav>